@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn1 {
    @apply px-8 py-3 bg-main text-white rounded-md shadow-md shadow-shadowcolor w-fit cursor-pointer transition-colors;
  }

  .btn1:hover {
    @apply bg-emerald-500;
  }

  .btn2 {
    @apply px-8 py-3 bg-transparent text-main border-2 border-main rounded-md shadow-md shadow-shadowcolor w-fit cursor-pointer transition-colors;
  }

  .btn2:hover {
    @apply text-white bg-main;
  }
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}